<!DOCTYPE html>
<html>
<!--回收站界面-->
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>YunTuji</title>
    <link rel="shortcut icon" href="{% static 'img/YunTuji.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/lightgallery.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
     <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'js/recycle.js' %}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo">YunTuji</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <div class="container">
                    <form class="parent">
                        <input id="content" type="text" class="search" placeholder="搜索">
                        <img id="search" src="{% static 'img/sousuo.png' %}" class="btn" alt="">
                    </form>
                </div>
            </li>
            <li id="navright" class="layui-nav-item">
                <a href="javascript:;">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="xinxi">个人信息</a></dd>
                    <dd><a href="shezhi">系统设置</a></dd>
                    <dd><a href="fankui">意见反馈</a></dd>
                    <dd><a href="bangzhu">使用帮助</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{% url 'logout' %}">退出</a></li>
        </ul>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="{% url 'change_to_homepage' %}">相册</a>
                </li>
                <li class="layui-nav-item" style="background-color: transparent;">
                    <a id="recent" href="javascript:;" style="background-color: transparent;">图片</a>
                </li>
                <li class="layui-nav-item"><a href="{% url 'recycle' %}">回收站</a></li>

            </ul>
        </div>
    </div>

    <!--主体-->
    <div class="layui-body">
        <!--上方工具栏-->
        <!-- 内容主体区域 -->
        <div id="main" style="padding: 20px; background-color: #F2F2F2;">
            <ul id="all-album" class="gallery">
            </ul>
        </div>

    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        © yuntuji.com - 底部固定区域
    </div>

</div>



</body>
</html>
